#letter-to-children {
	background-image: url(../../data/artwork/qualia-exhibit/letter-to-children.JPG) ;
	background-size: cover;
	background-position: center;
}
#blurred-lines {
	background-image: url(../../data/artwork/qualia-exhibit/blurred-lines.JPG) ;
	background-size: cover;
	background-position: center;
}
#golden-moon {
	background-image: url(../../data/artwork/qualia-exhibit/golden-moon.JPG) ;
	background-size: cover;
	background-position: center;
}
#capturing-dreams {
	background-image: url(../../data/artwork/qualia-exhibit/capturing-dreams.JPG) ;
	background-size: cover;
	background-position: center;
}
#carry-on {
	background-image: url(../../data/artwork/qualia-exhibit/carry-on.jpeg) ;
	background-size: cover;
	background-position: center;
}
#castle-in-mist {
	background-image: url(../../data/artwork/qualia-exhibit/castle-in-mist.JPG) ;
	background-size: cover;
	background-position: center;
}
#clumsy-angel {
	background-image: url(../../data/artwork/qualia-exhibit/clumsy-angel.JPG) ;
	background-size: cover;
	background-position: center;
}
#clumsy-angel-wax {
	background-image: url(../../data/artwork/qualia-exhibit/clumsy-angel-wax.JPG) ;
	background-size: cover;
	background-position: center;
}
#dancing-in-sea {
	background-image: url(../../data/artwork/qualia-exhibit/dancing-in-sea.jpeg) ;
	background-size: cover;
	background-position: center;
}
#there-i-am {
	background-image: url(../../data/artwork/qualia-exhibit/there-i-am.JPG) ;
	background-size: cover;
	background-position: center;
}
#family-mandala {
	background-image: url(../../data/artwork/qualia-exhibit/family-mandala.jpeg) ;
	background-size: cover;
	background-position: center;
}
#broken-in-pieces-everything-on-fire {
	background-image: url(../../data/artwork/qualia-exhibit/broken-in-pieces-everything-on-fire.png) ;
	background-size: cover;
	background-position: center;
}
#family-ties {
	background-image: url(../../data/artwork/qualia-exhibit/family-ties.JPG) ;
	background-size: cover;
	background-position: center;
}
#poppies {
	background-image: url(../../data/artwork/qualia-exhibit/poppies.jpg) ;
	background-size: cover;
	background-position: center;
}
#pandemic-groundhog-day {
	background-image: url(../../data/artwork/qualia-exhibit/pandemic-groundhog-day.jpg) ;
	background-size: cover;
	background-position: center;
}
#nesting {
	background-image: url(../../data/artwork/qualia-exhibit/nesting.JPG) ;
	background-size: cover;
	background-position: center;
}
#nesting-through-pandemic {
	background-image: url(../../data/artwork/qualia-exhibit/nesting-through-pandemic.jpg) ;
	background-size: cover;
	background-position: center;
}
#mapping-progress {
	background-image: url(../../data/artwork/qualia-exhibit/mapping-progress.jpg) ;
	background-size: cover;
	background-position: center;
}
#layers {
	background-image: url(../../data/artwork/qualia-exhibit/layers.JPG) ;
	background-size: cover;
	background-position: center;
}
#first-try {
	background-image: url(../../data/artwork/qualia-exhibit/first-try.JPG) ;
	background-size: cover;
	background-position: center;
}
#goddess-of-the-moon {
	background-image: url(../../data/artwork/qualia-exhibit/goddess-of-the-moon.JPG) ;
	background-size: cover;
	background-position: center;
}
#indigo-dreams {
	background-image: url(../../data/artwork/qualia-exhibit/indigo-dreams.jpg) ;
	background-size: cover;
	background-position: center;
}
#regenerative {
	background-image: url(../../data/artwork/qualia-exhibit/regenerative.JPG) ;
	background-size: cover;
	background-position: center;
}
#respect-kodama {
	background-image: url(../../data/artwork/qualia-exhibit/respect-kodama.JPG) ;
	background-size: cover;
	background-position: center;
}
#rivers-blue {
	background-image: url(../../data/artwork/qualia-exhibit/rivers-blue.jpg) ;
	background-size: cover;
	background-position: center;
}
#seed-pod {
	background-image: url(../../data/artwork/qualia-exhibit/seed-pod.JPG) ;
	background-size: cover;
	background-position: center;
}
#spiritual-growth {
	background-image: url(../../data/artwork/qualia-exhibit/spiritual-growth.JPG) ;
	background-size: cover;
	background-position: center;
}
#center-of-my-darkness {
	background-image: url(../../data/artwork/qualia-exhibit/center-of-my-darkness.JPG) ;
	background-size: cover;
	background-position: center;
}
#isolation-of-love-in-pandemic {
	background-image: url(../../data/artwork/qualia-exhibit/isolation-of-love-in-pandemic.JPG) ;
	background-size: cover;
	background-position: center;
}
#mountains-i-climb {
	background-image: url(../../data/artwork/qualia-exhibit/mountains-i-climb.jpg) ;
	background-size: cover;
	background-position: center;
}
#stuff-i-carry {
	background-image: url(../../data/artwork/qualia-exhibit/stuff-i-carry.JPG) ;
	background-size: cover;
	background-position: center;
}
#world-doesnt-appreciate-feminist {
	background-image: url(../../data/artwork/qualia-exhibit/world-doesnt-appreciate-feminist.JPG) ;
	background-size: cover;
	background-position: center;
}
#music-in-the-hills {
	background-image: url(../../data/artwork/qualia-exhibit/music-in-the-hills.JPG) ;
	background-size: cover;
	background-position: center;
}
#vulnerability {
	background-image: url(../../data/artwork/qualia-exhibit/vulnerability.JPG) ;
	background-size: cover;
	background-position: center;
}
#wisdom-cicle {
	background-image: url(../../data/artwork/qualia-exhibit/wisdom-cicle.JPG) ;
	background-size: cover;
	background-position: center;
}
#you-and-i {
	background-image: url(../../data/artwork/qualia-exhibit/you-and-i.JPG) ;
	background-size: cover;
	background-position: center;
}
