/* development */

/* div {
	border: .25px solid lightgrey;
} */

#gallery-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* append images to appropriate card (if it can't be done with data.json)*/
#letter-to-children {
	background-image: url(../../data/artwork/thumbnails/letter-to-children.JPG) ;
	background-size: cover;
	background-position: center;
}
#blurred-lines {
	background-image: url(../../data/artwork/thumbnails/blurred-lines.JPG) ;
	background-size: cover;
	background-position: center;
}
#golden-moon {
	background-image: url(../../data/artwork/thumbnails/golden-moon.JPG) ;
	background-size: cover;
	background-position: center;
}
#capturing-dreams {
	background-image: url(../../data/artwork/thumbnails/capturing-dreams.JPG) ;
	background-size: cover;
	background-position: center;
}
#carry-on {
	background-image: url(../../data/artwork/thumbnails/carry-on.jpeg) ;
	background-size: cover;
	background-position: center;
}
#castle-in-mist {
	background-image: url(../../data/artwork/thumbnails/castle-in-mist.JPG) ;
	background-size: cover;
	background-position: center;
}
#clumsy-angel {
	background-image: url(../../data/artwork/thumbnails/clumsy-angel.JPG) ;
	background-size: cover;
	background-position: center;
}
#clumsy-angel-wax {
	background-image: url(../../data/artwork/thumbnails/clumsy-angel-wax.JPG) ;
	background-size: cover;
	background-position: center;
}
#dancing-in-sea {
	background-image: url(../../data/artwork/thumbnails/dancing-in-sea.jpeg) ;
	background-size: cover;
	background-position: center;
}
#there-i-am {
	background-image: url(../../data/artwork/thumbnails/there-i-am.JPG) ;
	background-size: cover;
	background-position: center;
}
#family-mandala {
	background-image: url(../../data/artwork/thumbnails/family-mandala.jpeg) ;
	background-size: cover;
	background-position: center;
}
#broken-in-pieces-everything-on-fire {
	background-image: url(../../data/artwork/thumbnails/broken-in-pieces-everything-on-fire.png) ;
	background-size: cover;
	background-position: center;
}
#family-ties {
	background-image: url(../../data/artwork/thumbnails/family-ties.JPG) ;
	background-size: cover;
	background-position: center;
}
#poppies {
	background-image: url(../../data/artwork/thumbnails/poppies.jpg) ;
	background-size: cover;
	background-position: center;
}
#pandemic-groundhog-day {
	background-image: url(../../data/artwork/thumbnails/pandemic-groundhog-day.jpg) ;
	background-size: cover;
	background-position: center;
}
#nesting {
	background-image: url(../../data/artwork/thumbnails/nesting.JPG) ;
	background-size: cover;
	background-position: center;
}
#nesting-through-pandemic {
	background-image: url(../../data/artwork/thumbnails/nesting-through-pandemic.jpg) ;
	background-size: cover;
	background-position: center;
}
#mapping-progress {
	background-image: url(../../data/artwork/thumbnails/mapping-progress.jpg) ;
	background-size: cover;
	background-position: center;
}
#layers {
	background-image: url(../../data/artwork/thumbnails/layers.JPG) ;
	background-size: cover;
	background-position: center;
}
#first-try {
	background-image: url(../../data/artwork/thumbnails/first-try.JPG) ;
	background-size: cover;
	background-position: center;
}
#goddess-of-the-moon {
	background-image: url(../../data/artwork/thumbnails/goddess-of-the-moon.JPG) ;
	background-size: cover;
	background-position: center;
}
#indigo-dreams {
	background-image: url(../../data/artwork/thumbnails/indigo-dreams.jpg) ;
	background-size: cover;
	background-position: center;
}
#regenerative {
	background-image: url(../../data/artwork/thumbnails/regenerative.JPG) ;
	background-size: cover;
	background-position: center;
}
#respect-kodama {
	background-image: url(../../data/artwork/thumbnails/respect-kodama.JPG) ;
	background-size: cover;
	background-position: center;
}
#rivers-blue {
	background-image: url(../../data/artwork/thumbnails/rivers-blue.jpg) ;
	background-size: cover;
	background-position: center;
}
#seed-pod {
	background-image: url(../../data/artwork/thumbnails/seed-pod.JPG) ;
	background-size: cover;
	background-position: center;
}
#spiritual-growth {
	background-image: url(../../data/artwork/thumbnails/spiritual-growth.JPG) ;
	background-size: cover;
	background-position: center;
}
#center-of-my-darkness {
	background-image: url(../../data/artwork/thumbnails/center-of-my-darkness.JPG) ;
	background-size: cover;
	background-position: center;
}
#isolation-of-love-in-pandemic {
	background-image: url(../../data/artwork/thumbnails/isolation-of-love-in-pandemic.JPG) ;
	background-size: cover;
	background-position: center;
}
#mountains-i-climb {
	background-image: url(../../data/artwork/thumbnails/mountains-i-climb.jpg) ;
	background-size: cover;
	background-position: center;
}
#stuff-i-carry {
	background-image: url(../../data/artwork/thumbnails/stuff-i-carry.JPG) ;
	background-size: cover;
	background-position: center;
}
#world-doesnt-appreciate-feminist {
	background-image: url(../../data/artwork/thumbnails/world-doesnt-appreciate-feminist.JPG) ;
	background-size: cover;
	background-position: center;
}
#music-in-the-hills {
	background-image: url(../../data/artwork/thumbnails/music-in-the-hills.JPG) ;
	background-size: cover;
	background-position: center;
}
#vulnerability {
	background-image: url(../../data/artwork/thumbnails/vulnerability.JPG) ;
	background-size: cover;
	background-position: center;
}
#wisdom-cicle {
	background-image: url(../../data/artwork/thumbnails/wisdom-cicle.JPG) ;
	background-size: cover;
	background-position: center;
}
#you-and-i {
	background-image: url(../../data/artwork/thumbnails/you-and-i.JPG) ;
	background-size: cover;
	background-position: center;
}
