/* PAGE FOOTER STYLE */

.footer-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-evenly;
    font-size: .65em;
    background-color: white;
    width: 100vw;
}
.footer-text,
a.footer-text {
    display: flex;
    padding: 7px;
    color: lightgray !important;
    text-decoration: none;
}
a.footer-text:hover,
.follow-link:hover {
    color: rgba(1, 194, 194, 0.37) !important;
}
