.exhibit-card {
	display: flex;
	flex-direction: column;
	margin: 0.5em;
	justify-content: center;
}
.thumbnail {
	height: 14em;
	width: 12em;
	/* background-color: ; */
	display: flex;
	margin: auto;
}
.thumb-info {
	display: flex;
		flex-wrap: wrap;
	font-size: 0.8em;
	padding: 0.5em;
	height: 3em;
	width: 14em;
	background-color: whitesmoke;
}
