:root {
	--line1: rgba(228, 216, 216, 0.85);
	--line4: rgba(131, 111, 111, 0.85);

	--btn2: rgb(6,17, 37);
	--btn3: rgb(235, 235, 235);
	--btn-border2: rgb(75, 62, 61);
	--guillemet: rgb(88, 85, 102);

	--btn-txt-hover2: rgb(214, 166, 166);
	--btn-border-hover2: rgb(102, 85, 85);
	--guillemet-hover: rgb(70, 138, 165);

	--title: rgb(25, 36, 56);

	--btn: rgb(242, 242, 242);
	--btn-txt: rgb(173, 165, 165);
	--btn-border: rgba(227, 227, 227, 0.5);

	--btn-hover: rgba(48, 70, 124, 0.69);
	--btn-txt-hover:rgb(230, 229, 229);
	--btn-border-hover: rgba(218, 214, 214, 0.5);
}


.exhibit-card {
	display: flex;
	flex-direction: column;
	margin: 0.25em 0.5em;
	justify-content: center;
}
.thumbnail {
	height: 15em;
	width: 12em;
	/* background-color: ; */
	display: flex;
	margin: auto;
}
.thumb-info {
	display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
	font-size: 1.05em;
	font-weight: 600;
	line-height: 0.925em;
	height: max-content;
	width: 11.5em;
	background-color: whitesmoke;
}
.title {
	color: var(--title);
	padding: 0.5em;
	/* font-family: 'Barlow', sans-serif; */
	font-family: 'Barlow Condensed', sans-serif;
}
.details-btn {
	font-size: 0.75em;
	font-weight: 400;
	padding: 0.15em;
	color: var(--btn-txt);
	border-color: var(--btn-border);
	border-style: double;
	background-color: var(--btn);
	font-family: 'Kanit', sans-serif;
	transition: all ease-in-out 0.5s;
}
.details-btn:hover {
	background-color: var(--btn-hover);
	color: var(--btn-txt-hover);
	border-color: var(--btn-border-hover);
}
