:root {
	--title: rgb(25, 36, 56);

	--btn: rgb(242, 242, 242);
	--btn-txt: rgb(173, 165, 165);
	--btn-border: rgba(227, 227, 227, 0.5);

	--btn-hover: rgba(48, 70, 124, 0.69);
	--btn-txt-hover:rgb(230, 229, 229);
	--btn-border-hover: rgba(218, 214, 214, 0.5);
}


.display-card {
	display: flex;
	flex-direction: column;
	margin: 0.25em 0.5em;
	justify-content: center;
}
.thumbnail {
	height: 15em;
	width: 12em;
	/* background-color: ; */
	display: flex;
	margin: auto;
}
.thumb-info {
	display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
	font-size: 1.05em;
	font-weight: 600;
	line-height: 0.925em;
	height: max-content;
	width: 11.5em;
	background-color: whitesmoke;
}
.title {
	color: var(--title);
	padding: 0.5em;
	/* font-family: 'Barlow', sans-serif; */
	font-family: 'Barlow Condensed', sans-serif;
}
.details-btn {
	font-size: 0.75em;
	font-weight: 400;
	padding: 0.15em;
	color: var(--btn-txt);
	border-color: var(--btn-border);
	border-style: double;
	background-color: var(--btn);
	font-family: 'Kanit', sans-serif;
	transition: all ease-in-out 0.5s;
}
.details-btn:hover {
	background-color: var(--btn-hover);
	color: var(--btn-txt-hover);
	border-color: var(--btn-border-hover);
}
